# This file is just a sample
# Rename to .env
# CRITICAL: DO NOT COMMIT YOUR REAL .env to Git!
MEILI_ENV=development

# Default 0.0.0.0:7700
MEILI_HTTP_ADDR=0.0.0.0:7700

# See https://github.com/meilisearch/meilisearch/discussions/3518
MEILI_EXPERIMENTAL_ENABLE_METRICS=true
# Disable sending analytics back to the Meilisearch company
MEILI_NO_ANALYTICS=true

# TODO: Change abc12345 to your environment ID
DT_ENV_URL=https://abc12345.live.dynatrace.com

# TODO: Set this as appropriate
# Permissions: "Ingest metrics"
DT_API_TOKEN=dt0c01.********.*********
