# This file is just a sample
# Rename to .env
# CRITICAL: DO NOT COMMIT YOUR REAL .env to Git!
MEILI_ENV=development
DT_ENV_URL=https://abc12345.live.dynatrace.com
DT_API_TOKEN=dt0c01.******.******* # metrics.ingest
